<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>US Project Informations</title>
  </head>
  <body>
    <div
      style="
        padding: 20px;
        background-color: darkblue;
        color: floralwhite;
        text-align: center;
      "
    >
      <h1>Consórcio Brasileiro para o Estudo de Imagens da Mama</h1>
    </div>
    <div
      class="container"
      id="family_history"
      style="margin-top: 3%; background-color: rgb(181, 207, 233)"
    >
      <br />
      <h1
        style="
          background-color: rgb(238, 76, 48);
          color: rgb(240, 239, 240);
          text-align: center;
        "
      >
        Informações para preenchimento de dados clínicos:
      </h1>
      <br />
      <p style="text-align: justify; font-size: xx-large">
        <span style="font-weight: bolder">Idade:</span> incluiremos pacientes
        com mais de 18 anos;<br />
        <span style="font-weight: bolder"
          >Antecedente pessoal de câncer de mama:</span
        >
        invasivo ou carcinoma ductal in situ. <br />
        <span style="font-weight: bolder">Mutação genética:</span> mutação
        conhecida da própria paciente ou parente de primeiro grau. Especificar o
        gene mutado.
      </p>
    </div>

    <div
      class="container"
      id="family_history"
      style="margin-top: 3%; background-color: rgb(181, 207, 233)"
    >
      <br />
      <h1
        style="
          background-color: rgb(238, 76, 48);
          color: rgb(240, 239, 240);
          text-align: center;
        "
      >
        Informações para avaliação ultrassonográfica:
      </h1>
      <br />
      <p style="text-align: justify; font-size: xx-large">
        <span style="font-weight: bolder">Classificação ACR BI-RADS:</span> caso
        a paciente tenha mais de um nódulo que foi biopsiado, colocar a
        classificação de cada nódulo. <br />
        <span style="font-weight: bolder">Palpável:</span> consideramos como
        palpável aquele nódulo palpável pelo médico, e não apenas referido como
        palpável pelo paciente. <br />
        <span style="font-weight: bolder">Vascularização interna:</span>
        utilizar preferencialmente o Doppler de amplitude (PD), sugerimos
        observar a pressão realizada pelo transdutor sobre a mama. Consideramos
        vascularização interna quando qualquer porção do vaso se encontra no
        interior da lesão, mesmo que na periferia da mesma. Vide exemplos.
        <br />
        <span style="font-weight: bolder">Índice de resistência:</span>
        calculado através do estudo Doppler espectral. Caso haja mais de um
        nódulo no interior do vaso, considerar o maior valor. <br />
        <span style="font-weight: bolder">Imagens do US:</span> obtidas em modo
        B em duas incidências perpendiculares.
      </p>
    </div>

    <div
      class="container"
      id="family_history"
      style="margin-top: 3%; background-color: rgb(181, 207, 233)"
    >
      <br />
      <h1
        style="
          background-color: rgb(238, 76, 48);
          color: rgb(240, 239, 240);
          text-align: center;
        "
      >
        Exemplos de lesões com vascularização interna:
      </h1>
      <br />
      <hr />
      <img src="/images/us_img1.png" alt="US vasos internos" />
      <hr />
      <img src="/images/us_img2.png" alt="US vasos internos" />
      <hr />
      <img src="/images/us_img3.png" alt="US vasos internos" />
      <hr />
      <img src="/images/us_img4.png" alt="US vasos internos" height="500" />
      <hr />
    </div>

    <div
      class="container"
      id="family_history"
      style="margin-top: 3%; background-color: rgb(181, 207, 233)"
    >
      <br />
      <h1
        style="
          background-color: rgb(238, 76, 48);
          color: rgb(240, 239, 240);
          text-align: center;
        "
      >
        Exemplo de vascularização adjacente. Não é considerado vascularização
        interna:
      </h1>
      <br />
      <hr />
      <img src="/images/us_img5.png" alt="US vasos internos" />
      <hr />
    </div>

    <div
      class="container"
      id="family_history"
      style="margin-top: 3%; background-color: rgb(181, 207, 233)"
    >
      <br />
      <h1
        style="
          background-color: rgb(238, 76, 48);
          color: rgb(240, 239, 240);
          text-align: center;
        "
      >
        Informações para avaliação ultrassonográfica:
      </h1>
      <br />
      <p style="text-align: justify; font-size: xx-large">
        <span style="font-weight: bolder">Biópsia:</span> benigno, maligno
        (inclui CDIS), lesão marcadora de risco (hiperplasia ductal atípica ou
        neoplasia lobular - inclui hiperplasia lobular atípica ou carcinoma
        lobular in situ).
      </p>
    </div>

    <div
      class="container"
      id="family_history"
      style="
        margin-top: 3%;
        background-color: rgb(181, 207, 233);
        margin-bottom: 35px;
      "
    >
      <br />
      <h1
        style="
          background-color: rgb(238, 76, 48);
          color: rgb(240, 239, 240);
          text-align: center;
        "
      >
        Considerar como história familiar positiva:
      </h1>
      <br />
      <p style="text-align: justify; font-size: xx-large">
        Parentes de PRIMEIRO GRAU (pai/mãe/irmãos) com câncer de mama
      </p>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer
    style="
      margin: 50px;
      text-align: center;
      background-color: darkblue;
      padding: 15px;
      color: cornsilk;
    "
  >
    <h3>Faculdade de Medicina de Ribeirão Preto - USP</h3>
  </footer>
</html>
